name: Tests

on:
  push:
  workflow_dispatch:

env:
  ITEST_ECS_REGION: dummy-region
  ITEST_ECS_NAME: dummy-name
  ITEST_ECS_SECURITY_GROUPS: dummy-sg
  ITEST_ECS_SUBNETS: dummy-subnets

jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java:
          - 21
        kubernetes:
          - 'v1.30.11'
          - 'v1.31.7'
          - 'v1.32.3'

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK
        uses: actions/setup-java@v4
        with:
          java-version: ${{ matrix.java }}
          distribution: temurin
      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2
      - name: Setup Minikube
        uses: manusa/actions-setup-minikube@v2.13.1
        with:
          minikube version: 'v1.33.0'
          kubernetes version:  ${{ matrix.kubernetes }}
          github token: ${{ secrets.GITHUB_TOKEN }}
          container runtime: containerd
          driver: docker
      - name: Setup Docker
        run: sudo apt-get -qq -y install conntrack socat ; nohup socat TCP-LISTEN:2375,reuseaddr,fork UNIX-CONNECT:/var/run/docker.sock &
      - name: Setup Docker Swarm
        run: docker swarm init
      - name: Pull Image
        run: docker pull openanalytics/shinyproxy-integration-test-app
      - name: Run redis
        run: docker run -d -p 6379:6379 redis
      - name: Build with Maven
        run: mvn -B -U clean install -DskipTests
      - name: Run Tests
        run:  mvn -B test
